.movieselectioncomp {
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 30px;
}

.movie-selection-title-text {
	font-size: 20px;
}

.select-movie-text {
	font-size: 20px;
	margin-top: 30px;
}

.movieselection-field {
	float: left;
	height: 30px;
	width: 30%;
	margin-bottom: 5px;
}

.movieselection-random {
	float: right;
	margin-right: 55%;
	height: 35px;
}